
*.sublime-project

*.psv
*.cor
*.rep
*.par
*.std
*.mcmc
*.mcrt
*.mcst
*.sim
*.proj
*.d
*.o

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

